// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.organization {
  .organization-name {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 2;

    a {
      text-decoration: none;
      &:hover {
        font-weight: 100;
      }
    }
  }

  .organization-description {
    margin-bottom: 20px;
  }

  .organization-members {
    h6 {
      margin-bottom: 0;
    }
  }
}

#search-form {
  margin-bottom: 20px;

  h5 {
    font-weight: 100;
  }
  #search {
    width: 100%;
    max-width: 250px;
  }
}
