<% provide(:title, @organization.name) %>

<div class="container">
  <div class="row organization">
    <div class='col-12'>
      <h3 class='organization-name'>
        <%= @organization.name %>
      </h3>
      <div class='organization-description'>
        <%= @organization.description %>
      </div>

      <div class="organization-members">
        <h6>Memberships:</h6>
        <ul>
          <% @organization.members.each do |member| %>
            <li><%= member.full_name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to("Back to All Organizations", organizations_path) %>
</div>
